<html>
    <h1>Welcome to Chat Application</h1>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        
    </head>

    <body>
        <button id="increment">Click</button>
    </body>

    <footer>
        <Script src="/js/chat.js"></Script>
    </footer>
</html>